[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
python-dotenv = "*"
flask = "*"
flask-restx = "*"
psycopg2 = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
flask-cors = "*"

[dev-packages]
pytest = "*"
bumpversion = "*"
pytest-sugar = "*"
pytest-cov = "*"
pylint = "*"

[requires]
python_version = "*"
